.badge {
  cursor: pointer;
}

.options {
  width: 20%;
}

.search {
  width: 20%;
  margin-left: 40%;
  align-items: center;
  text-align: center;
}

.quotes {
  width: 50%;
  position: relative;
}

.header {
  background-color: blueviolet;
  margin-top: 0;
}

.badge {
  border-radius: 20px;
}
